<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>HTML Background</title>

    <style>
        body { 
            background-color: lightblue; 

        }
        h1 { 
            background-color: rgb(255,128,0); 
            color: blue;
        }
        p { 
            background-color: #FFFFCC; 
        }
        span {
            color: orange;
        }
    </style>
</head>

<body>

    <h1>색상 이름으로 표현된 파란색</h1>
    <p>여기서부터 단락입니다.</p>
    <span> 스패sxorm </span>
</body>
</html>
