<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>HTML Link</title>

    <!-- <style>
        a:link    { color: teal; }
        a:visited { color: maroon; text-decoration: none }
        a:hover   { color: yellow; text-decoration: none }
        a:active  { color: red; text-decoration: none }
    </style> -->

</head>

<body>
    <!-- <a href="https://github.com">
        이 링크를 클릭해 보세요!
    </a> -->
    
    <h2><a href="../intro.html" target="_blank">blank</a></h2>
    <h2><a href="../intro.html" target="_self">self</a></h2>
    <h2><a href="../intro.html" target="_parent">parent</a></h2>
    <h2><a href="../intro.html" target="_top">top</a></h2>
    <h2><a href="../intro.html" target="myframe">myframe</a></h2>
    
    <!-- <iframe name="myframe" style="width:50%; height: 330px"></iframe> -->


</body>
</html>
