<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>HTML Image</title>

    <style>
        img {
            width:100%;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <img src="fall.jpg" alt="이미지가 없나봐요..">

    <img src="fall.jpg" alt="html size" width="320px" height="214">
    <img src="earth.gif" alt="style size" style="width:320px; height:214px">

    <a href="../intro.html" target="_blank">
        <img src="fall.jpg" alt="flag" style="width:320px; height:214px">
    </a>

</body>

</html>