<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>HTML Table</title>

    <!-- <style>
        table, th, td { border: 1px solid black }
    </style> -->

    <style>
        table, th, td { border: 1px solid black; border-collapse: collapse }
    </style>
</head>



<body>
    <table style="width:100%">
        <tr style="background-color:lightgrey">
            <th>참치</th>
            <th>고래</th>      
        </tr>
        <tr>
            <td>상어</td>
            <td>문어</td>
        </tr>
        <tr>
            <td>오징어</td>
            <td>고등어</td>
        </tr>
    </table>
</body>
</html>